body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/*img {*/
/*width: 100%;*/
/*height: auto;*/
/*}*/

.visibility-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: white;
}

/* pop-up */
.pop-up {
  display: none;
}

.pop-up-show {
  display: block;
}


.pop-up.find {
  position: absolute;
  z-index: 3;
  right: 20px;

  background-color: rgb(248, 247, 243);
  border-radius: 5px;

  padding: 20px 15px;
  margin-top: 5px;

  box-shadow: 5px 10px 30px 5px rgb(65, 76, 68);
}

.pop-up.find input {
  width: 300px;
  height: 40px;

  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(211, 211, 210);
}

.pop-up.find input[placeholder] {
  padding-left: 10px;

}


.pop-up.enter {
  z-index: 4;
  position: absolute;


  margin-top: 5px;
  padding-left: 19px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 22px;

  background-color:  rgb(248, 247, 243);
  border-radius: 5px;
}

.pop-up.enter a {
  color: black;
  text-decoration: underline;
}

.pop-up.enter a:hover {
  color: rgb(232 77 55);
}

.pop-up.enter ul {
  display: block;
  float: right;
}

.pop-up.enter li {
  display: block;
}

.pop-up.enter input {
  display: flex;

  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  width: 241px;
  height: 44px;

  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(211, 211, 210);
}

.pop-up.enter input[placeholder],
.pop-up.feedback input[placeholder],
.pop-up.feedback textarea::placeholder
  {
  padding-left: 15px;

  font-size: 14px;
  color: black;
}

.pop-up.enter input[placeholder]:hover,
.pop-up.feedback input[placeholder]:hover,
.pop-up.feedback textarea[placeholder]:hover
{

border-color: rgb(154 154 154);
}

.pop-up.enter .btn,
.pop-up.feedback .btn {
  padding: 15px 25px;

  border-radius: 25px;
}



.pop-up.feedback {
  position: fixed;
  /*display: none;*/
  z-index: 5;

  top: 10%;
  left: 35%;

  background-image: none;
  background-color: rgb(248 247 244);

  border-radius: 10px;

  padding: 20px 26px 27px 24px;
}

.pop-up.feedback p {
  font-size: 24px;
  line-height: 28px;
  color: rgb(50 50 50);
  font-weight: 500;
  font-family: Roboto, Helvetica, serif;

  margin: 0;
  padding: 0;
  margin-bottom: 24px;

}

.pop-up.feedback input {
  display: flex;

  margin-bottom:20px;
}

.pop-up.feedback textarea {
  margin-bottom: 20px;

  width: 428px;
  height: 155px;

  display: block;
  clear: both;
}

.pop-up.feedback input:last-child{
  margin-bottom: 0;
}

.pop-up.feedback input:not(:last-child) {
  width: 267px;
  height: 44px;

  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.pop-up.feedback textarea[placeholder] {
  padding-top: 13px;

  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.pop-up.feedback .btn {
  float: right;
}

.pop-up.feedback .close {
  position: absolute;
  right: 16px;
  top: 16px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.pop-up.feedback .close::before,
.pop-up.feedback .close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: black;
}

.pop-up.feedback .close::before {
  transform: rotate(45deg);
}

.pop-up.feedback .close::after {
  transform: rotate(-45deg)
}

/* header */

nav a{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}


.navigation-header a:hover {
  color: #333333;

  background-color: #f7f6f3;
  border-radius: 20px;
}

.navigation-header a:active {
  color: #333333;

  background-color: #f7f6f3;
  border-radius: 20px;
  box-shadow: inset 2px 2px 1px 1px;
}

.current-item {
  color: #ffffff;

  background-color: #D07058;
  border-radius: 20px;
}

.user-navigation li {
  position: relative;
}

.user-navigation a{

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  background-color: rgba(255,255,255, 0.2);

}

.user-navigation span {
  padding-left: 2px;
  padding-right: 10px;
}

.user-navigation a:hover {
  color: #333333;

  fill: black;
  background-color: #f7f6f3;
}

.user-navigation svg {
  position: relative;

  top: 3px;
}

.breadcrumbs a:hover,
.second-navigation a:hover {
  color: #e84d37;
}


.contacts-time span:nth-child(1) {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
}

.contacts-time span:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
}

/* main */

/*slider */
.slider {
  position: relative;
  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  /*background-image: url("img/slider-item1.png");*/
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  /*background-image: url("img/slider-item2.png");*/
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  /*background-image: url("img/slider-item3.png");*/
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/index/slider.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/index/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/index/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* news */
.news {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.news .news-1 {
  background: url("../img/index/bg-1.png") no-repeat;
  border-radius: 20px;
}

.news h3 {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-left: 15px;
}
.news p {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 20px;
}

.news .news-2 {
  background: url("../img/index/bg-2.png") no-repeat;

  border-radius: 20px;
}

.news h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #fff;
}

.news p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.news-btn-wrapper {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-right: 20px;

  float: right;
}

.btn-news {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  padding: 10px 20px;

  border-radius: 30px;
}

/* catalog */

.catalog a {
  font-weight: normal;
  color: #fff;
}

.catalog p {
  text-align: center;

  margin:0;
  padding: 0;
  padding-top: 12px;
}

.catalog-list .sale {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
}

.catalog-list .kg {
  font-size: 30px;
  line-height: 45px;
  color: #fff;
}

.catalog-list li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 35px;
}

.second-info-catalog {
  position: absolute;
  content: "";

  top: 45%;
}

/* about */

.about {
  color: #323232;

  background: url("../img/index/background-feature.png");
  background-size: cover;

  border-radius: 10px;

  margin-top: 40px;
}

.about p {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;

  padding-top: 30px;
  padding-left: 20px;
  padding-right: 110px;
}


.about-list li {
  padding-bottom: 25px;
  padding-right: 25px;
  width: 476px;
  position: relative;
}


.about-1::before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;
  left: -10%;
  top: -10%;

  background: url("../img/index/about-icon-1.svg") no-repeat;
}

.about-2::before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;
  left: -10%;
  bottom: 65%;

  background: url("../img/index/about-icon-2.svg") no-repeat;
}

.about-3::before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;
  left: -10%;
  top: -10%;

  background: url("../img/index/about-icon-3.svg") no-repeat;
}

.about-4::before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;
  left: -10%;
  bottom: 65%;

  background: url("../img/index/about-icon-4.svg") no-repeat;
}

.about-wrapper {
  padding-left: 70px;
  position: relative;
}
/* blog */

.blog {
  color: #323232;

  background: url("../img/index/background-blog.png") no-repeat;

  border-radius: 20px;
}

.new-blog {
  font-weight: normal;

  padding-left: 25px;
  padding-top: 25px;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  text-decoration: underline;
}

.blog a:hover {
  color: rgb(232, 77, 55);
}

.blog p {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-bottom: 80px;

  width: 285px;
}

/* sub-mail */

.sub-mail {
  background-color: #f8f7f4;

  border: 8px solid transparent;
  border-radius: 30px;
  border-image: url("../img/index/border-form.png");
  border-image-slice: 9;
  border-image-repeat: stretch;

}

.sub-mail p {
  color: #5a5a5a;

  padding: 0;
  margin: 0;
  margin-left: 25px;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.sub-mail form {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.sub-mail input {
  height: 40px;
  width: 368px;

  margin-left: 25px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 210);
}

.sub-mail input[type="email"] {
  padding-left: 10px;
  color: #999999;
}


/* feedback */

.feedback {
  color: #323232;

  height: inherit;
  margin-top: 40px;

  background: url("../img/index/cart.png") no-repeat;
  background-size: cover;
  background-color: white;
}

.cart-wrapper  {
  width: 100%;
  height: 430px;

  margin: 0 auto;
}

.bg-feed {
  width: 300px;

  background:white;

  padding: 0;
  float: right;
  margin: 63px 27px 63px 0;

  border-radius: 20px;
}

.addres {
  font-size: 14px;
  line-height: 20px;

  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-top: 30px;
}

.addres strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.phone-number {
  font-size: 14px;
  line-height: 20px;

  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 22px;
}

.phone-number strong {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.phone-number span {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}

.btn-form {
  margin-left: 20px;
  margin-bottom: 27px;
}
/* footer */
/* social */
.social-list {
  margin: 0;
  padding: 0;

  margin-top: 32px;
  margin-bottom: 25px;
  margin-left: 27px;
}

.social li {
  display: inline;

  padding: 0;
  margin: 0;
  padding-right: 10px;
}

.social path {
  fill: rgb(230, 233, 235);
}

.social path:hover {
  fill: white;
}

.social path:active {
  fill: rgb(234, 234, 234);
}

/* info */

.info {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.info a:nth-child(1) {
  font-weight: bold;
}



/* second-info */

.second-info p {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;

  color: rgb(230, 233, 235);

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-right: 25px;
}

.second-info a {
  color: rgb(230, 233, 235);
  text-decoration: underline;
}

.second-info a:hover {
  color: white;
}

.second-info img {
  margin-top: 15px;
}

/* index.html */

/*header*/

.site-wrapper {
  min-width: 964px;
  background-color: #849d8f;
  background-image: url("../img/index/slider.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
  padding: 0 27px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: space-between;
  /*background: #fff;*/

  position: relative;

}

.main-header .logo {
  width: 155px;
  height: 65px;
}

.navigation-header {
  width: 450px;

  display: flex;
  flex-wrap: wrap;
}

.navigation-header li {
  display: inline-block;

  margin: 0;
  padding: 0;
}

.nav-wrapper a {
  padding: 9px 13px 10px 14px;

}

.wrapper-main {
  width: 500px;
  /*background: #fff;*/

  display: flex;
  justify-content: flex-end;
}

.wrapper-main a  {
  position: relative;
}

.btn-search,
.btn-enter,
.btn-basket {
  border-radius: 20px;

  margin-right: 10px;
  padding: 6px 5px;
}

.btn-basket {
  margin: 0;
}

.user-navigation a:hover path,
.user-navigation a:hover circle{
  fill: black;
}

.wrapper-main li {
  display: inline;
}

.contacts-wrapper {
 position: relative;
  top: 60%;
  left: 86%;
}

.contacts-wrapper.catalog{
  position: absolute;
  top: 65%;
  left: 86%;
}

.news {
  display: flex;
  justify-content: space-between;
}

.news-1,
.news-2 {
  width: 560px;
}

.goods-btn {
  opacity: 0;
  position: relative;
  padding: 13px 17px;
  border-radius: 15px;
  border: none;

  margin-top: 17px;
  left: 15%;
}

.catalog-list li:hover .goods-btn {
 opacity: 1;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 40px;
}
/*.catalog-wrapper-btn {*/

/*}*/



.catalog-list li {
  width: 267px;
}

.about ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/*.about-wrapper {*/
  /*width: 560px;*/
/*}*/

.two-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.two-wrapper article,
.two-wrapper section{
  width: 560px;
}

/*.cart-wrapper {*/
/*display: flex;*/
/*justify-content: flex-end;*/
/*align-items: center;*/


/*height: 430px;*/
/*margin-top: 40px;*/
/*margin-left: -27px;*/
/*margin-right: -27px;*/
/*}*/

footer {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  margin-top: 32px;
  margin-bottom: 25px;
}

.info-1 {
  margin-right: 20px;
}

.info ul {
  padding: 0;
  margin: 0;
}

.info li {
  display: block;
  position: relative;
}

.info a {
  color: rgb(230, 233, 235);

  text-decoration: underline;
}

.info a:hover {
  color: white;
}

.heart a::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;

  position: absolute;
  left: -20px;
  top: 3px;
  background-image: url("../img/index/decor-icon.svg");
  background-repeat: no-repeat;
}

/* list opened */

.under-item-wrapper {
  position: absolute;

  background-color: rgb(248 247 244);

}

.under-item-wrapper a {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 14px;
}

.under-item a {
  color: #323232;
  opacity: 0.7;

}

.under-item .top-item a {
  opacity: 1;

}

.under-item .top-item {
  padding-bottom: 14px;
}


.under-item {
  margin: 0;
  padding: 0;
  padding: 13px 0px 14px 0px;

  position: relative;
}

.under-item .top-item::after {
  position: absolute;
  content: '';
  top: 45px;
  left: 6px;

  width: 128px;
  height: 1px;

  background-color: black;
  opacity: 0.2;
}

.under-item-wrapper li {
  display: block;
  padding-right: 21px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.under-item li:active {
  background-color: rgb(246 181 165);
}

.under-item-wrapper li:hover:not(:first-child) {
  background-color: rgb(251 222 215);
  cursor: pointer;
}

.under-item-wrapper a:hover,
.under-item-wrapper a:active{
  background-color: transparent;
  box-shadow: none;
}

.catalog-list li:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow:  0px 0px 20px grey;
}

.under-item-btn:hover .under-item-wrapper {
  display: block;
}



/* catalog.html */

.second-navigation li {
  display: inline;
}

.catalog-bg {
  background-color: rgb(132 157 143);
}

.current-item {
  background-color: #D07058;
}

.navigation-header .current-item:hover {
  background-color: #D07058;
  color: white;
}

.btn-basket.current {
  background-color: white;
  color: black;
}

.user-navigation .btn-basket.current:hover path:first-child {
  fill: #E84D37;
}

.user-navigation .btn-basket.current:hover {
  background-color: white;
}

.breadcrumbs {
  margin-top: 24px;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline;

  padding-right: 5px;
}

.breadcrumbs a {
  font-weight: normal;
}

.breadcrumbs a {
  text-decoration: underline;
}

.breadcrumbs .current-item-breadcrumbs {
  text-decoration: none;
}

.second-navigation {
  display: flex;

  justify-content: flex-end;

  margin-top: 20px;
  margin-bottom: 36px;
}

.second-navigation ul {
  margin: 0;
  padding: 0;
}

.second-navigation li {
  margin: 0;
  padding: 0;

}
.second-list a {
  padding: 5px 10px;
}

.second-list a:hover {
  color: black;

  border-radius: 60px;
  background-color: white;
}

/* form catalog */

.form-basket {
  width: 900px;
}

.form-basket p {
  text-align: left;
  padding-left: 20px;
}

.form-basket form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form-basket-wrapper {
  border-radius: 20px;

  width: 200px;

  text-align: center;

  padding-right: 15px;
}

.-w1 select {
  background-color: #AABAB0;
  padding: 10px;
  border-radius: 20px;

  color: white;
}

.-w1 option {
  color: black;
  background-color: white;
}

.-w2 {
  width: 220px;
}

.-w2  input {
  width: 200px;
}

.-w2 .color-back {
  background-color: #AABAB0;
  border-radius: 20px;
  padding: 8px;
}

.-w3 {
  width: 415px;
}

.-w3 li,
.-w4 li {
  display: inline-block;

  margin: 0;
  padding: 0;
}

.-w3 ul,
.-w4 ul {
  background-color: #AABAB0;
  border-radius: 20px;

  margin: 0;
  padding: 0;

}

.-w3 ul p,
.-w4 ul p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
}

.-w3 input[radio] {
  padding: 5px;
}

.-w4 {
  width: 703px;
}

.btn-form-basket{
  width: 144px;
  padding: 12px 30px;

  border-width: 2px;
  border-color: white;
  border-radius: 20px;

  background-color: #AABAB0;

  color: white;

  cursor: pointer;


}

.btn-nn{
  align-self: flex-end;
}

.form-basket {
   font-family: "Roboto", Arial, sans-serif;
   font-size: 16px;
   font-weight: normal;
   line-height: 22px;
   color: #fff;
 }

/*pop-up*/

.pop-up.basket {
  display: none;

  width: 540px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  position: absolute;
  z-index: 2;
  right: 0%;

  margin-top: 10px;
  }

  .pop-up.basket li {
  }

  .pop-up.basket ul{
    margin: 0;
    padding: 0;
    margin: 20px 34px 0 16px;

  }

  .pop-up.basket span {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;

    color: black;
  }

  .pop-up.basket ul {
    display: flex;
    flex-wrap: wrap;
  }

  .pop-up.basket p {
    margin: 0;
    padding: 0;
  }

  .pop-up.basket .sale {
  }






