body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.visibility-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: white;
}

/* pop-up */

.pop-up {
  display: none;
}

.under-item {
  display: none;
}

/* header */

 nav a{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
 }


 .navigation-header a:hover {
  color: #333333;

  background-color: #f7f6f3;
   border-radius: 20px;
 }

.navigation-header a:active {
  color: #333333;

  background-color: #f7f6f3;
  border-radius: 20px;
  box-shadow: inset 2px 2px 1px 1px;
}

.current-item {
  color: #ffffff;

  background-color: #D07058;
  border-radius: 20px;
}

 .user-navigation a{

   font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  background-color: rgba(255,255,255, 0.2);
 }

  .user-navigation a:hover {
  color: #333333;

    fill: black;
  background-color: #f7f6f3;
 }

   .breadcrumbs a:hover,
  .second-navigation a:hover {
    color: #e84d37;
  }


 .contacts-time span:nth-child(1) {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
 }

 .contacts-time span:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
 }

 /* main */

/*slider */
.slider {
  position: relative;
  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  /*background-image: url("img/slider-item1.png");*/
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  /*background-image: url("img/slider-item2.png");*/
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  /*background-image: url("img/slider-item3.png");*/
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/index/slider.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/index/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/index/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

 /* news */
.news {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

 .news .news-1 {
    background: url("../img/index/bg-1.png") no-repeat;
   border-radius: 20px;
 }

 .news h3 {
  margin: 0;
   padding: 0;
   padding-top: 25px;
   padding-left: 15px;
 }
  .news p {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 20px;
  }

 .news .news-2 {
  background: url("../img/index/bg-2.png") no-repeat;

   border-radius: 20px;
 }

 .news h3 {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    color: #fff;
 }

 .news p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
 }
  .news-btn-wrapper {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 20px;

    float: right;
  }

 .btn-news {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

   padding: 15px;

   border-radius: 25px;
 }

 /* catalog */

 .catalog a {
    font-weight: medium;
    color: #fff;
 }

 .catalog p {
   text-align: center;

   margin:0;
   padding: 0;
   padding-top: 12px;
 }

 .catalog-list .sale {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
 }

 .catalog-list .kg {
  font-size: 30px;
  line-height: 45px;
  color: #fff;
 }

 .catalog-list li {
   position: relative;
 }

 .second-info-catalog {
  position: absolute;
   content: "";

   top: 60%;
 }

 /* about */

.about {
  color: #323232;

  background: url("../img/index/background-feature.png");
  background-size: cover;

  border-radius: 10px;

  margin-top: 40px;
}

.about p {
  font-size: 24px;
  font-weight: medium;
  line-height: 30px;

  padding-top: 30px;
  padding-left: 20px;
  padding-right: 110px;
}

 .about-1::before {
  content: "";
   position: absolute;

   width: 50px;
   height: 50px;
   left: -1%;
   top: -10%;
   background: url("../img/index/about-icon-1.svg") no-repeat;
}

.about-2 {
  background: url("../img/index/about-icon-2.svg") no-repeat;
}

.about-3 {
  background: url("../img/index/about-icon-3.svg") no-repeat;
}

.about-4 {
  background: url("../img/index/about-icon-4.svg") no-repeat;
}

.about-wrapper {
  padding-left: 50px;

  position: relative;
}
/* blog */

.blog {
  color: #323232;

  background: url("../img/index/background-blog.png") no-repeat;
}

.new-blog {
  font-weight: medium;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  text-decoration: underline;
}

/* sub-mail */

.sub-mail {
  background-color: #f8f7f4;
}

.sub-mail p {
  color: #5a5a5a;
}

/* feedback */

.feedback {
  color: #323232;

  background-color: white;
}

.cart-wrapper {
  background: url("../img/index/map.jpg");
  background-size: cover;
}

.addres {
  font-size: 14px;
  line-height: 20px;
}

.addres strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.phone-number {
  font-size: 14px;
  line-height: 20px;
}

.phone-number strong {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.phone-number span {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}

/* footer */
/* social */



.social-list li:nth-child(1) {
  background: url("../img/index/tw-icon.svg") no-repeat;
}

.social-list li:nth-child(2) {
  background: url("../img/index/ints-icon.svg") no-repeat;
}

.social-list li:nth-child(3) {
  background: url("../img/index/facebook-icon.svg") no-repeat;
}

.social-list li:nth-child(4) {
  background: url("../img/index/vk-icon.svg") no-repeat;
}


/* info */

.info {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.info a:nth-child(1) {
  font-weight: bold;
}

/* second-info */

.second-info span {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

/* index.html */

/*header*/

.site-wrapper {
  min-width: 964px;
  background-color: #849d8f;
  background-image: url("../img/index/slider.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
  padding: 0 27px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: space-between;
  /*background: #fff;*/

  position: relative;

}

.main-header .logo {
  width: 155px;
  height: 65px;
}

.navigation-header {
  width: 450px;

  display: flex;
  flex-wrap: wrap;
}

.navigation-header li {
  display: inline-block;

  margin: 0;
  padding: 0;
}

.nav-wrapper a {
  padding: 9px 13px 10px 14px;

}

.wrapper-main {
  width: 500px;
  /*background: #fff;*/

  display: flex;
  justify-content: flex-end;
}

.wrapper-main a  {
  position: relative;
 }

.btn-search,
.btn-enter,
.btn-basket {
  border-radius: 20px;

  margin-right: 10px;
  padding: 6px 5px;
}

.btn-basket {
  margin: 0;
}

.user-navigation a:hover path,
.user-navigation a:hover circle{
  fill: black;
}

.wrapper-main li {
  display: inline;
}

.contacts-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.news {
  display: flex;
  justify-content: space-between;
}

.news-1,
.news-2 {
  width: 560px;
}

.catalog {

}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 40px;
}

.catalog-list li {
  width: 267px;
}

.about ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.about-wrapper {
  width: 560px;
}

.two-wrapper {
    display: flex;
  justify-content: space-between;
  margin-top: 40px;
  }

.two-wrapper article,
.two-wrapper section{
  width: 560px;
}

.feedback {

}

.cart-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;


  height: 430px;
  margin-top: 40px;
  margin-left: -27px;
  margin-right: -27px;
}

footer {
  display: flex;
  justify-content: space-between;
}

/* catalog.html */

.second-navigation li {
  display: inline;
}







